@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Register</a>
    </p>
</div>
